# --- Configuração de Fim de Linha (EOL) ---
/mvnw text eol=lf
*.cmd text eol=crlf

# --- Ignorar Frontend (HTML/CSS/JS) ---
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# --- Ignorar Scripts de Infraestrutura (O Pulo do Gato) ---
mvnw linguist-detectable=false
mvnw.cmd linguist-detectable=false
get-docker.sh linguist-detectable=false

# --- Ignorar Configuração Docker (Opcional, pra limpar o cinza) ---
Dockerfile linguist-detectable=false
docker-compose.yml linguist-detectable=false

# --- Forçar Java como Principal ---
*.java linguist-detectable=true
