apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  # O K8s vai guardar isso criptografado
  root-password: "1234"
  user-password: "1234"

---
apiVersion: v1
kind: Service
metadata:
  name: mysqldb # O Java vai usar esse nome para achar o banco
spec:
  ports:
  - port: 3306
  selector:
    app: mysql-pod

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql-pod
  template:
    metadata:
      labels:
        app: mysql-pod
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: root-password
        - name: MYSQL_DATABASE
          value: banco_java
        - name: MYSQL_USER
          value: dev
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: user-password
        ports:
        - containerPort: 3306
