name: Spring Boot CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      # Compila o projeto e gera o .jar
      # -DskipTests: Pula os testes unitários para não falhar por falta de conexão com o Banco no CI
      run: ./mvnw clean package -DskipTests

    - name: Verify Jar Creation
      run: ls -l target/*.jar
